build/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.gitattributes
build/.vs/Lab4/v16/.suo
*.db
*.db-shm
*.db-wal
build/.vs/Lab4/v16/Browse.VC.opendb
*.vcxproj
*.filters
*.user
*.tlog
*.pdb
*.recipe
*.ilk
*.stamp
*.stamp
build/.vs/Lab4/v16/ipch/AutoPCH/fd6023e400ac2a6b/TEXTLINK.ipch
